.all_media{
    text-align: center;
    width: 40%;
    margin: 15% auto;

.media-button{  
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}
    
    .fa-tv, .fa-film, .fa-music{
        color:white;
        font-size: 180px;
        cursor: pointer;
        padding: 20%;
    }
    .fa-tv:hover{
        color: purple;
    }
     .fa-film:hover{
        color: royalblue;
    }
     .fa-music:hover{
        color: green;
    }
}