.all_media{
    text-align: center;
    width: 70%;
    margin: 15% auto;

.media-button{  
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;

    p {
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
    }
}
    
    .tv, .film, .music{
        text-align: center;
        color: white;
        font-size: 80px;
        cursor: pointer;
        padding: 10% 8% 0 8%;
        margin: auto;
    }
    .tv:hover{
        color: #f25287;
    }
     .film:hover{
        color: #01c5c4;
    }
     .music:hover{
        color: #ffe268;
    }
}

.media-switch{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: black;
    margin-bottom: 5px;
    // font-weight: bold;

    .tv, .film, .music{
        color:white;
        font-size: 20px;
        cursor: pointer;
        padding: 10px;
        margin: 0 10px;
        opacity: 50%;

        discrive {
            font-size: 15px;
        }
    }

    .tv:hover{
        opacity: 100%;
        color: #f25287;
    }
     .film:hover{
        opacity: 100%;
        color: #01c5c4;
    }
     .music:hover{
        opacity: 100%;
        color: #ffe268;
    }
}

@media (min-width:600px) {
    .all_media{
        width: 50%;
        margin: 15% auto;
    
        .media-button{  
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 0 auto;
            text-align: center;

            p {
                font-size: 30px;
            }
            }

        // .tv, .film, .music{
        //     font-size: 180px;
        //     padding: 15% 15% 5% 15%;
        //     margin: 10px;
        // }
    }

    .media-switch {
        margin-bottom: 30px;

        .tv, .film, .music{
            color:white;
            font-size: 30px;
            cursor: pointer;
            padding: 10px;
            margin: 0 20px;
    
            discrive {
                font-size: 25px;
            }
        }
    }
}