.music_card{
    background-color: black;
    width: 100%;
    padding: 20px;
    text-align: center;
    justify-content: center;

    img{
        border-radius: 50%;
        width: 60%;
        margin: 1% auto;
        padding: 10px;
    }
   
    .rotate {
        animation: rotation 20s infinite linear;
      }
      
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
}
audio{
    width:70%;
    margin:0 13%;
    bottom:12%;
    opacity:0.8}

    @media (min-width:600px) {
      .music_card {
        img {
          width: 40%;
        }
      }
    
  }